.section-header {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .header-fields,
    .text-fields {
        gap: 2rem;
    }

    .header-fields {
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 645px) {
        .add-btn {
            width: 100%;
        }

        .header-fields {
            flex-direction: column;
            width: 100%;

            & > div {
                width: 100%;
            }

            .text-fields > div {
                flex: 1;
            }
        }
    }
}

// modal styles
.add-new-order-form {
    ul {
        li {
            gap: 2rem;
            margin-bottom: 2rem;
            
            & > * {
                min-width: 12.5rem;
            }
        }
    }

    .outside-text {
        margin-bottom: 2rem;
    }

    .base-btns {
        :first-child {
            margin-right: 2rem;  
        }
    }
}